.modal {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal_content {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background: #FFF;
    padding: 30px;
    margin: 100px auto;
    width: 600px;
    display: flex;
}

.modal_content img{
    width: 250px;
}

.modal_content h1, h2{
    margin: 20px;
}